@import '../styles/fonts.css';
*{
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
  }
  body{
    margin: 0;
  
  }
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

section {
    padding: 1rem 3rem;
}

header{
    padding: 0 80px;
}
ul{
    list-style-type: none;
    padding: 0;
}
  